  /**Body**/
body {
    background-color: #008080;
  }


div {
   
    margin-right: 14%;
    margin-bottom: 5%;
   margin-left: 14%;
  }


  /**Text**/
p {
    font-family: "rubik";
    color: #e1fff7;
    font-size: medium;
    padding: 15px;
  }

h1 {
    font-family: "Rubik";
    color: #eefcf1;
    background-color:#02433c;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
  }

h3 {
    font-family: "rubik";
    color:#3d5467;
    background-color: #eefcf1;
    padding: 15px;
    border-radius: 30px;
  }

li {
    font-family: "rubik";
    color: #eefcf1;
    
  }

a {
    font-family: "rubik";
    color: #eefcf1;
  }

.button{
  position: fixed;
bottom: 20px;
right: 20px;
}

.header-title{
  font-family: "Rubik";
  color: #eefcf1;
  background-color:#29887e;
  
  text-align: center; 
}

.name{
  font-family: "Rubik";
  color: #eefcf1;
  background-color:#29887e;

  text-align: center; 
}

/**Navigation Bar**/
.nav{
  list-style: none;
	width: 90%;
	font-family: "rubik";
  text-decoration:none;
  color:#008080;
}

.nav li{
	width:2em;
  display: inline-block;
	border:3px solid #008080;
  background-color: #02433c;
  color:#008080;
  border-radius: 20px;
  text-align: center;
  padding: 6px;
  margin-inline: 0.25em;
  margin-bottom: 0.5em;
}
 




